.checkout__container {
    max-width: 600px;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #FFE26E;
}

.checkout__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.checkout__form label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
}

.checkout__form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.checkout__items {
    margin-bottom: 20px;
}

.checkout__items ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.checkout__items ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.total__amount {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
