

.category__card__card {
    height: 480px;
    width: 320px;
    margin: 20px;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden; /* Ensures any overflow is hidden */
    border-radius: 8px; /* Adds rounded corners */
}

.category__card {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category__image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.category__image > img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the frame */
    transition: 1s;
    border-radius: 8px; /* Matches the border-radius of the container */
}

.category__card__detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    color: #FFE26E;
    background-color: rgba(0, 0, 0, 0.6); /* Adds contrast without extra padding */
    padding: 5px 10px; /* Minimal padding to keep it tight */
    border-radius: 0 0 8px 8px; /* Matches the card's border-radius */
    box-sizing: border-box;
}

.category__name {
    height: 50%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.category__description {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
}

.category__card__action {
    width: 40%;
    height: 80%;
    bottom: 0%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.category__card__action__button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 0.8rem;
    background-color: transparent;
    border-color: #FFE26E;
    border-style: solid;
    font-weight:bold;
    color: #FFE26E;
}