
.search__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search__container__header {
    width: 90%;
    margin-bottom: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.category__card__container {
    width: 90%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.category__product__card {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

input[type="search"] {
    width: 100%; 
    padding: 10px; 
}

.show__more__action {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}
